<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="undefined" class="btn-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding #content>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]='showAddPannel'>
    <ion-fab-button color="success" (click)=showAdd(true)>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <pre>{{driver | json}}</pre>
  <pre>{{admin | json}}</pre>
  <pre>{{car | json}}</pre>
  <!-- <div class="form-container" [hidden]="!showAddPannel">

    <form>

      <ion-item margin-bottom>
        <ion-label position="stacked"> <strong class="align">* Placa : </strong></ion-label>
        <ion-input (ionFocus)="scroll()" [(ngModel)]="car.id" name="id" placeholder="Placa del vehículo"
          clear-input="true" maxlength="15" appUppercase name="id"></ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked">* Marca
        </ion-label>
        <ion-select okText="Seleccionar" cancelText="Cerrar" name="brand" (ionFocus)="scroll()" [(ngModel)]="car.brand">
          <ion-select-option *ngFor="let brand of carBrands" [value]="brand">{{brand}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked"> * Modelo:</ion-label>
        <ion-input [(ngModel)]="car.model" name="model" placeholder="Modelo del vehículo" clear-input="true" id="model"
          appUppercase></ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked"> Año</ion-label>
        <ion-select placeholder="Año" okText="Seleccionar" cancelText="Cerrar" name="year" [(ngModel)]="car.year">
          <ion-select-option *ngFor="let year of years" [value]="year">{{year}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> <strong class="align">
            <div class="color-square" [ngStyle]="{'background-color': car.color }"></div> Color:
          </strong>
        </ion-label>
        <ion-range min="0" max="16" step="1" snaps="true" [(ngModel)]="color" name="color"
          (ionChange)=changeColor(color)></ion-range>
      </ion-item>
      <br>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="light" (click)="showAdd(false)" expand="block">Regresar</ion-button>

          </ion-col>
          <ion-col>
            <ion-button color="success" (click)=" addCar()" expand="block">Agregar</ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
    </form>
  </div>
  <br>

  <div class="form-container" [hidden]="showAddPannel">
    <ion-text color="danger" *ngIf="!carList?.length > 0">
      <h2>No tienes vehículos disponibles. </h2>
    </ion-text>
  </div>

  <ion-card *ngFor="let i of carList" [hidden]="showAddPannel">
    <ion-item>
      <div class="small-color" [ngStyle]="{'background-color': i.color }"></div>
      <ion-card-title>{{i.id}}</ion-card-title>
      <ion-icon color="danger"   slot="end" (click)="deleteCar(i.id)"  name="trash"></ion-icon>
    </ion-item>


    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <h3> {{i.brand}} - {{i.model}}</h3>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card> -->
</ion-content>