.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ion-card {
  --background: rgba(0, 0, 0, 0);
  box-shadow: none;
  -webkit-box-shadow: none;
}
.input {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
  border-radius: 9px;
  font-size: 0.9em !important;
}
.white {
  color: white;
}

.small {
  font-size: 13px;
  a {
    text-decoration: unset !important;
  }
}
.button-color {
  background-color: var(--ion-color-mytheme);
}
.logo {
  width: 1.25em !important;
}
.grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img-logo {
  height: auto;
  width: 60%;
  margin: auto;
}
.fire-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-transition {
  background: linear-gradient(to right, #3a7bd5 14%, #3a7bd5 96%);
}
.btn-color {
  color: white;
}
.no-scroll .scroll-content {
  overflow: hidden;
}

.card-content-md h2, h6 {
  color: white;
}

.card-content-md h2{
  margin-bottom: 10px;
}
