<ion-content no-padding>
  <div class="main bg-image">
    <ion-card no-margin class="card">
      <ion-card-content>
        <ion-row class="row">
          <h2 no-margin margin-vertical text-center>Ingresar como conductor</h2>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="email" placeholder="Email" [(ngModel)]="email" class="input" padding-horizontal
              clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="password" placeholder="Contraseña" [(ngModel)]="password" class="input"
              padding-horizontal clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text float-end color="medium" (click)="forgotPassword()">
              <h6 no-margin text-end class="small">Olvidaste la contraseña?</h6>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="signin()" color="undefined" class="btn-transition"><strong
                class="white">Ingresar</strong></ion-button>
          </ion-col>
        </ion-row>
        <div class="line"></div>
        <ion-row>
          <br><br>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" fill="outline" color="undefined" (click)="util.navigate('login')"
              class="btn-color">
              <ion-icon name="bowtie"></ion-icon>
              <strong>&nbsp; Soy Administrador</strong>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>