<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="undefined" class="btn-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title align-title="center">
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding #content>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]='showAddPannel'>
    <ion-fab-button color="success" (click)=showAdd(true)>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <pre>{{income | json}}</pre> -->
  <div class="form-container" [hidden]="!showAddPannel">

    <form>
      <ion-item margin-bottom>
        <ion-label position="stacked"><strong class="align">Inicio de turno</strong></ion-label>
        <ion-datetime name="start_date" displayFormat="D MMM YYYY h:mm a" picker-format="DD/MMM/YYYY HH:mm"
          placeholder="Seleccione la fecha inicial" [(ngModel)]="start_date"
          month-short-names="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Set, Oct, Nov, Dic"
          placeholder="seleccione fecha inicial" minuteValues="0,15,30,45" done-text="SELECCIONAR"
          cancel-text="CANCELAR" (ionChange)="calculateTotalHours()"></ion-datetime>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked"><strong class="align">Fin de turno</strong></ion-label>
        <ion-datetime name="end_date" displayFormat="D MMM YYYY h:mm a" picker-format="DD/MMM/YYYY HH:mm"
          placeholder="Seleccione la fecha final" [(ngModel)]="end_date"
          month-short-names="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Set, Oct, Nov, Dic"
          placeholder="seleccione fecha inicial" minuteValues="0,15,30,45" done-text="SELECCIONAR"
          cancel-text="CANCELAR" (ionChange)="calculateTotalHours()"></ion-datetime>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked"> <strong class="align">* Total recaudado: </strong></ion-label>
        <ion-input [(ngModel)]="income.amount" name="amount" clear-input="true" maxlength="15" type="number"
          (ionChange)="calculatePercentageExpense()"> </ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked"> <strong class="align">* Kilometraje Inicial: </strong></ion-label>
        <ion-input type="number" [(ngModel)]="income.initial_mileage" name="initial_mileage"
          (ionChange)="calculateTotalMillage()"></ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked"> <strong class="align">* Kilometraje Final: </strong></ion-label>
        <ion-input type="number" [(ngModel)]="income.final_mileage" name="initial_mileage"
          (ionChange)="calculateTotalMillage()"></ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked"> <strong class="align">Observaciones : </strong></ion-label>
        <ion-input [(ngModel)]="income.notes" name="notes" clear-input="true" maxlength="150"></ion-input>
      </ion-item>

      <ion-item>
        <ion-text>
          <h4>Resumen</h4>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-text color="danger" *ngIf="total_hours <= 0">
          Rango de fechas incorrecto
        </ion-text>
        <ion-text *ngIf="total_hours > 0">
          Horas trabajadas: <strong>{{total_hours}}</strong>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-text color="danger" *ngIf="total_millage <= 0">
          El kilometraje no es correcto
        </ion-text>
        <ion-text *ngIf="total_millage > 0">
          Kilometros recorridos: <strong>{{total_millage}}</strong>
        </ion-text>
      </ion-item>

      <ion-item *ngIf="income.amount > 0">
        <ion-text>
          Total recaudado: <strong>₡ {{income.amount}}</strong>
        </ion-text>
      </ion-item>

      <ion-item *ngIf="this.driverShiftPercentage > 0">
        <ion-text>
          Porcentaje para el conductor {{driver.percentage}}%: <strong color="success">₡
            {{driverShiftPercentage}}</strong>
        </ion-text>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col>
            <br><br>
            <ion-button color="light" (click)="showAdd(false)" expand="block">Regresar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" [disabled]="!income.amount || total_millage <= 0 || total_hours <= 0 "
              (click)="addIncome()" expand="block">Agregar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
    </form>
  </div>
  <br>

  <div class="form-container" [hidden]="showAddPannel">
    <ion-text color="danger" *ngIf="!incomeList?.length > 0">
      <h2>No tienes cierres hoy. </h2>
    </ion-text>
  </div>

  <ion-card *ngFor="let i of incomeList" [hidden]="showAddPannel">
    <ion-item>
      <ion-card-title>{{i.car_plate}}</ion-card-title>
      <ion-icon color="danger" slot="end" (click)="deleteIncome(i)" name="trash"></ion-icon>
    </ion-item>

    <ion-card-content>

      <ion-item lines="none" *ngIf="i.start_date">
        <ion-label>
          <h3><strong>Inicio de turno:</strong> <br><br> {{i.start_date.toDate() | date:"fullDate"}}
            {{i.start_date.toDate() | date:"h:mm a"}}</h3>
        </ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="i.end_date">
        <ion-label>
          <h3> <strong>Fin de turno:</strong><br> <br>{{i.end_date.toDate() | date:"fullDate"}}
            {{i.end_date.toDate() | date:"h:mm a"}}</h3>
        </ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="i.end_date">
        <ion-label>
          <h3><strong>Horas trabajadas:</strong> <br><br> {{i.worked_hours}}</h3>
        </ion-label>
      </ion-item>


      <ion-item lines="none" *ngIf="i.initial_mileage">
        <ion-label>
          <h3><strong>Kilometraje inicial:</strong> <br><br> {{i.initial_mileage}}</h3>
        </ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="i.final_mileage">
        <ion-label>
          <h3><strong>Kilometraje final:</strong> <br><br> {{i.final_mileage}}</h3>
        </ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="i.total_milage">
        <ion-label>
          <h3><strong>Kilometros recorridos:</strong> <br><br> {{i.total_milage}}</h3>
        </ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="i.notes">
        <ion-label>
          <h3><strong>Observaciones:</strong> <br><br>{{i.notes}}</h3>
        </ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="i.amount">

        <ion-text>
          <h3><strong>Total recaudado:</strong> <br> <br>{{i.amount}} <br> <br></h3>
        </ion-text>

      </ion-item>

      <ion-item lines="none" *ngIf="i.work_shift_percent">
        <ion-text>
          <h3><strong>Porcentaje para el conductor:</strong><br> <br> {{i.work_shift_percent}}</h3>
        </ion-text>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>