<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="undefined" class="btn-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Vehículos disponibles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding #content>
  <div class="form-container">

    <ion-text color="primary">
      <h2> Registrar un nuevo vehículo.</h2>
    </ion-text>

    <form>

      <ion-item margin-bottom>
        <ion-label position="stacked"> <strong class="align">* Placa : </strong></ion-label>
        <ion-input (ionFocus)="scroll()" [(ngModel)]="car.id" name="id" placeholder="Placa del vehículo"
          clear-input="true" maxlength="15" appUppercase name="id"></ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked">* Marca
        </ion-label>
        <ion-select okText="Seleccionar" cancelText="Cerrar" name="brand" (ionFocus)="scroll()" [(ngModel)]="car.brand">
          <ion-select-option *ngFor="let brand of carBrands" [value]="brand">{{brand}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked"> * Modelo:</ion-label>
        <ion-input [(ngModel)]="car.model" name="model" placeholder="Modelo del vehículo" clear-input="true" id="model"
          appUppercase></ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked"> Año</ion-label>
        <ion-select placeholder="Año" okText="Seleccionar" cancelText="Cerrar" name="year" [(ngModel)]="car.year">
          <ion-select-option *ngFor="let year of years" [value]="year">{{year}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> <strong class="align">
            <div class="color-square" [ngStyle]="{'background-color': car.color }"></div> Color:
          </strong>
        </ion-label>
        <ion-range min="0" max="16" step="1" snaps="true" [(ngModel)]="color" name="color"
          (ionChange)=changeColor(color)></ion-range>
      </ion-item>

      <ion-button *ngIf="!isUpdate" color="primary" (click)=" addCar()" expand="block">Agregar vehículo</ion-button>

      <ion-row *ngIf="isUpdate">
        <ion-col>
          <ion-button color="primary" (click)="updateQuestion()" expand="block">Update</ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="outline" color="primary" (click)="cancelUpdate()" expand="block">cancel</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
  <br>

  <div class="form-container">
    <ion-text color="danger" *ngIf="!carList?.length > 0">
      <h2>No tienes vehículos disponibles. </h2>
    </ion-text>
    <ion-text color="primary" *ngIf="carList?.length > 0">
      <h2>Vehículos disponibles. </h2>
    </ion-text>
  </div>

  <ion-card *ngFor="let i of carList">
    <ion-card-header>
      <div class="small-color" [ngStyle]="{'background-color': i.color }"></div>
      <ion-card-subtitle>{{i.id}}</ion-card-subtitle>
      <ion-button color="danger" slot="end" (click)="deleteCar(i.id)">Eliminar</ion-button>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <h3> {{i.brand}} - {{i.model}}</h3>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>