<ion-content no-padding>
  <div class="main bg-image">
    <ion-card no-margin class="card">
      <ion-card-content>
        <ion-row class="row">
            <h2 no-margin margin-vertical text-center>Crear una cuenta administrativa</h2>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input type="text" placeholder="Nombre" [(ngModel)]="user.name" class="input" padding-horizontal>
            </ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="text" placeholder="Apellidos" [(ngModel)]="user.last_name" class="input" padding-horizontal>
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="email" placeholder="Email" [(ngModel)]="user.email" class="input" padding-horizontal>
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
        <ion-col>
           <ion-input type="number" pattern="[0-9]*" [(ngModel)]="user.phone" name="phone" placeholder="Teléfono Célular" class="input"
            clear-input="true" maxlength="15"></ion-input>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="password" placeholder="Contraseña" [(ngModel)]="user.password" class="input"
              padding-horizontal></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="undefined" class="btn-transition" (click)="signup()"><strong>Crear cuenta</strong></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" fill="outline"
             color="undefined" (click)="util.navigate('login')"
              class="btn-color"><strong>Ya tienes cuenta? Ingresa</strong></ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>