<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="undefined" class="btn-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding #content>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]='showAddPannel'>
    <ion-fab-button color="success" (click)=showAdd(true)>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="form-container" [hidden]='!showAddPannel'>
    <form>
      <ion-item margin-bottom>
        <ion-label position="stacked"> * Cédula de identidad : </ion-label>
        <ion-input type="number" pattern="[0-9]*" [(ngModel)]="driver.ssn" name="ssn" clear-input="true" maxlength="15">
        </ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked"> * Nombre : </ion-label>
        <ion-input [(ngModel)]="driver.name" name="name" clear-input="true"></ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked"> * Apellidos : </ion-label>
        <ion-input [(ngModel)]="driver.last_name" name="last_name" clear-input="true">
        </ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked"> * Teléfono Célular : </ion-label>
        <ion-input type="number" pattern="[0-9]*" [(ngModel)]="driver.phone" name="phone" clear-input="true" maxlength="15">
        </ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="stacked"> * Contraseña : </ion-label>
        <ion-input [(ngModel)]="driver.password" name="password" clear-input="true">

        </ion-input>

      </ion-item>
      <ion-text color="danger" *ngIf="driver.password && driver.password.length <= 5">
        <small>La constraseña debe tener 6 o más
          caracteres</small>
      </ion-text>
      <br>
      
      <ion-item margin-bottom>
        <ion-label position="stacked">Porcentaje para el chofer {{driver.percentage}}%</ion-label>
        <ion-select okText="Seleccionar" cancelText="Cerrar" name="porcentaje" [(ngModel)]="driver.percentage">
          <ion-select-option *ngFor="let percentage of percentages" [value]="percentage">{{percentage}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <small> Elija 0% si el chofer trabaja por salario</small>
      <br> <br>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="light" (click)="showAdd(false)" expand="block">Regresar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" color="primary" (click)="addDriver()" expand="block">Agregar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
    </form>
  </div>
  <br>

  <div class="form-container" [hidden]='showAddPannel'>
    <ion-text color="danger" *ngIf="!driverList?.length">
      <h2>No tienes Conductores disponibles. </h2>
    </ion-text>
  </div>

  <ion-card *ngFor="let i of driverList" [hidden]='showAddPannel'>
    <ion-item>
      <ion-card-subtitle>{{i.name}} {{i.last_name}}</ion-card-subtitle>
      <ion-icon color="danger" slot="end" (click)="deleteDriver(i.id, i.ssn)" name="trash"></ion-icon>
    </ion-item>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h3>Cédula: {{i.ssn}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Teléfono: {{i.phone}} %</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Porcentaje: {{i.percentage}} %</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Contraseña: {{i.password}} </h3>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>